@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", sans-serif;
}

th {
  font-weight: 500;
  font-size: 1.1rem;
  padding: 1rem 0;
}

td {
  padding: 1rem 0;
}

/* Thin */
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter/Inter-Thin.ttf) format("truetype");
  font-style: normal;
  font-weight: 100;
}

/* Light */
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter/Inter-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 300;
}

/* Normal */
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter/Inter-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}

/* Medium */
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter/Inter-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
}

/* Semibold */
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter/Inter-SemiBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 600;
}

/* Bold */
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter/Inter-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}

/* Black */
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter/Inter-Black.ttf) format("truetype");
  font-style: normal;
  font-weight: 900;
}

html {
  scroll-behavior: smooth;
}
