@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Inter", sans-serif;
}

th {
  font-weight: 500;
  font-size: 1.1rem;
  padding: 1rem 0;
}

td {
  padding: 1rem 0;
}
